html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.topHalf {
    flex: 1;
    background-color: rgb(100, 10, 255);
}

.bottomHalf {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgb(30, 200, 80);
}

.bottomHalf input {
    flex: 1;
    background-color: rgb(1, 100, 0);
}

.bottomHalf button {
    flex: 2;
    background-color: rgb(100, 30, 40);
}

